<a href="https://colab.research.google.com/github/Debayanmondal/Blue-jay-assignments/blob/main/Bluejay_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing the Dataset And Libraries**

In [14]:
import pandas as pd
from datetime import datetime, timedelta

data=pd.read_excel('Assignment_Timecard (1).xlsx')

#**Creating a DataFrame called df**

In [15]:
df = pd.DataFrame(data)

# **Sorting the data by Employee Name and Time**

In [16]:
df['Time'] = pd.to_datetime(df['Time'])
df['Time Out'] = pd.to_datetime(df['Time Out'])
df.sort_values(by=['Employee Name', 'Time'], inplace=True)

# **Calculating the time difference between shifts**

In [17]:
df['Time Difference'] = df.groupby('Employee Name')['Time'].shift(-1) - df['Time Out']

# **Filter for conditions (less than 10 hours but greater than 1 hour)**

In [18]:
filtered_df = df[
    (df['Time Difference'] < timedelta(hours=10)) &
    (df['Time Difference'] > timedelta(hours=1))
]

# **Displaying the result**

In [19]:
result=filtered_df.head(11)[['Employee Name']].drop_duplicates()
print("Employees who have less than 10 hours of time between shifts but greater than 1 hour")
print(result)

Employees who have less than 10 hours of time between shifts but greater than 1 hour
                        Employee Name
591                  CEreira Jr, JEse
53                   CaMaXaWE, CeghaW
276              De Xa Cerda, IgWaciE
1036  DeXgadiXXE REdarMe, ChrisMiaW S
939              GrACfieXd, CErWeXiAs
1074           HaCiXMEW, DeaWMe DevEW
301                  MraW, WiXXiaC Ha
1161         REdrigAez, GraWdEW AWgeX
162                        Xee, XaCar